{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
 <link rel="stylesheet" href="{% static 'core/menu.css' %}">
{% endblock %}
{% block content %}
<section class="home-hero">
    <h1>Innovative Solutions <br> for Your Business</h1>
</section>

<div class="home-grid-container">
    
    <div class="home-card card-master">
        <div class="master-arrow-icon">→</div>
        <h3>Explore More</h3>
    </div>

    <div class="home-card card-orange">
        <div class="home-card-plus">
            <img src="https://img.icons8.com/material-outlined/24/ffffff/plus-math.png" alt="plus"/>
        </div>
        <h5>Add Feature</h5>
    </div>

    <div class="home-card card-grey">
        <div class="home-card-plus">
            <img src="https://img.icons8.com/material-outlined/24/ff0040/plus-math.png" alt="plus"/>
        </div>
        <h5>Add Feature</h5>
    </div>

    <div class="home-card card-grey">
        <div class="home-card-plus">
            <img src="https://img.icons8.com/material-outlined/24/9900ff/plus-math.png" alt="plus"/>
        </div>
        <h5>Add Feature</h5>
    </div>

    <div class="home-card card-purple">
        <div class="home-card-plus">
            <img src="https://img.icons8.com/material-outlined/24/ffffff/plus-math.png" alt="plus"/>
        </div>
        <h5>Add Feature</h5>
    </div>

</div>
{% endblock %}